POSTGRES_URL="postgresql://postgres:[postgres-password]@localhost:5432/ai-resumes-builder"
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_GEMINI_API_KEY=your-google-gemini-api-key
# to run with docker by using docker-compose.yml
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres-password